body {
    font-family: Arial, sans-serif;
    background: #f2f6ff;
    margin: 0;
    padding: 0;
}

header {
    background: #1a73e8;
    color: white;
    text-align: center;
    padding: 20px;
}

.features {
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.transfer {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: #9eb015;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}